.navbar-colour {
    background: linear-gradient(to right, black 20%, rgba(0, 127, 254, 0.527)); 
}

body {
    background: linear-gradient(135deg, black, rgba(0, 127, 254, 0.527));
    /* background-color: rgba(0, 127, 254, 0.527) */
}

.post-img {
    width: 120;
    height: 120;
}