{% extends "base.html" %}

{% block title %}Meu blog{% endblock %}

{% block page_content %}
    {% if request.user.is_authenticated %}

        <div class="row justify-content-md-center">     
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="/static/img/logo.png" class="card-img post-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <form action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="newPost" id="newPost" placeholder="What are you thinking about?" class="form-control">
                                </div>
                            </form>                              
                            
                            <a href="#" class="btn btn-primary" onclick="sendPost()">Post</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>

    {% endif %}
    

        <div class="" id="posts">

        </div>

        <br>
  
    
{% endblock %}

{% block scripts %}
    <script>

        function getPosts(){
            $("#posts").html('');
            $.get('{% url "get_posts" %}', function(data){
                posts = JSON.parse(data)
                for (let index = 0; index < posts.length; index++) {
                    const element = posts[index]['fields'];
                    renderPost(element)                    
                }
            })
        }

        function sendPost(){
            var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();

            $.post('{% url "post_save" %}', {
                text: $("#newPost").val(),
                csrfmiddlewaretoken: CSRFtoken
            }, function(data) {
                getPosts()
            })
        }

        function renderPost(post){
            html = `<div class="row justify-content-md-center">
                        <div class="card text-center mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/static/img/logo.png" class="card-img post-img" alt="...">
                                </div>             
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p class="card-text">${post.text}</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        ${post.timestamp}
                                        <i class="fas fa-user"></i>
                                        <i class="far fa-user"></i>
                                        <i class="fas fa-heart"></i>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;

            $("#posts").append(html);
        }

        $(document).ready(function(){

            getPosts()            
 
        })



    </script>
{% endblock %}


