{% extends "base.html" %}

{% block title %}Meu blog{% endblock %}

{% block page_content %}
    {% if request.user.is_authenticated %}
        <h1>Olá {{request.user.username}} </h1>
        <form method="POST" class="post-form">
            {{ csrf_input }} 
            <p><b>{{form.body.help_text}}</b></p>      
            <p>{{ form.body }}</p>
            <p><button type="submit" class="save btn btn-default">Postar</button></p> 
        </form>            
    {% else %}
        <h1>Bem vindo ao MyBlog</h1>
    {% endif %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="{{ url('index-all')}}" class="nav-link {%if show_followed != 'followed' %}active {%endif%}">All</a>
        </li>
        <li class="nav-item">
            <a href="{{ url('index-followed')}}" class="nav-link  {%if show_followed == 'followed' %}active {%endif%}">Followed</a>
        </li>
    </ul>

    <h2>Posts</h2>
    {% include "posts/_posts.html" %}
    
{% endblock %}
